{% extends "_base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <div id="content_help"></div>
  <div id="content_home_left">
    <div id="latest_header">Latest</div>
    <ul>
      {% for i in range(6) %}
      <li>
        <p class="latest_title">{{ i }} title of a search in Crawly</p>
        <p class="latest_footer">45 minutes ago</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="content_home_center">
    <div id="latest_header">Latest news in your social network</div>
    <ul>
      {% for i in range(3) %}	
      <li>
        <p class="latest_title">title of a search in Crawly</p>
        <p class="latest_footer">Search for the latest jobs in the Navy, Army and Air Force and discover all the benefits of being part of the Australian Defence Force. Search for the latest jobs in the Navy, Army and Air Force and discover all the benefits of being part of the Australian Defence Force.</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="content_home_right"><a href="#">Adsword: 360 x 250</a></div>
{% endblock %}