{% extends "_base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% for worker in workers %}
      <tr>
        <td> <span class="badge badge-warning"></span></td>
        <td>py</td>
        <td>{{worker.url}}</td>
        <td>1234</td>
        <td><span class="badge badge-important">65</span></td>
        <td>11:25</td>
        <td><span class="badge badge-warning">01</span></td>
        <td>11:31</td>
        <td>98.123%</td>
        <td><i class="icon-refresh"></i> <i class="icon-remove"></i> </td>
      </tr>       
    {% endfor %}
{% endblock %}