<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Crawly</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0/build/cssreset/cssreset-min.css">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="css/jquery-1.7.2.js"></script>
    <script type="text/javascript">
          $.ajax({url: '/root.add_worker',
           type: 'POST',
           contentType: 'application/json',
           data: '{ my_name: Bob }',
           dataType: 'json',
           success: function(response) {
             alert(response.text);
           }
        });
    </script>
    {% endblock %}
  </head>
  
  <body>
    <div id="header">
      <div id="header_tools">
        <a href="/">Home</a> |
        <a href="#TODO">Help</a> |
        <a href="#TODO">About us</a> 
      </div>
      <div id="header_login">
        Hi, <a href="#">jenaiz</a> (<a href="#">Logout</a>)
      </div>
    </div>
    <div id="content">
      <div id="content_header">
        <form method="post" action="/search" class="well form-search">
          <input type="text" class="input-medium search-query" name="q" id="q">
          <button type="submit" class="btn">Search</button>
        </form>
      </div>
      <div id="content_help">
      </div>
      {% block content %}{% endblock %}
      
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2012 All rights reserved - Powered by <a href="appengine.com">Google App Engine</a>, designed by <a href="http://jenaiz.com">Jesús Navarrete</a>
      {% endblock %}
    </div>
  </body>
</html>